//colors
$black: #030303;
$white: #FFFFFF;
$red: #710707;
$gold: #9D8665;

//fonts
$Forum: 'Forum', cursive;
$Roboto: 'Roboto', sans-serif;

$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;


$fz18:18px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;
$fz28: 28px;
$fz32: 32px;
$fz50: 50px;
$fz80: 80px;

//containers
$xl:1440px;


//image
$imagePath: "../img/";