header{
    color: red;
}
    ul{
        color: blue;
    }
        li{
            color: yellow;
        }
            a{
                color: violet;
            }
                span{
                    color: green;
                }