body{
    background-color: #e0e0e0;;
}
.Shop h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

.addNew{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.btnAddNew{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #686ec8;
    color: white;
    border: none;
    font-size: 18px;
}

.btnAddNew[disabled] {
    background: #6f6e6e;  
}