//colors
$white: #FFFFFF;
$red: #710707;
$gold: #9D8665;
$black: #000000;
$gray: #666666;

//fonts
$Forum: 'Forum', cursive;
$Roboto: 'Roboto', sans-serif;

//weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;

//font size
$fz22:22px;
$fz28:28px;
$fz32:32px;
$fz80:80px;

//container
$xl:1440px;

//image
$imagePath:"../img/";
