body{
  background-color: #e0e0e0;

}
#app{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.card{
  width: 18rem;
  margin-bottom: 40px;
  box-shadow: 10px 5px 5px #cbcbcb;
  filter: opacity(90%);
}
.card:hover{
  transform: scale(1.13);
  filter: none;
}
.card img{
  height: 165px;
}
.box{
  margin-top: 30px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  
  
}
button{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 283px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.big-button {
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background-color: #fafbfd;
  box-shadow: 0 0 0 2px #cbcbcb, 0 0.75em 0 0 rgb(190, 190, 190);
  color: #56585e;
}


.big-button:hover {
  background-color: #0d6efd;
  color: white;
  box-shadow: 0 0 0 2px #8ab3f1, 0 0.75em 0 0 #75a8f4;
  transform: translate(0, 0.375em);
  transform: scale(1.05);
}

.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.big-button:active {
transform: translate(0em, 0.75em);
}

.big-button:active::before {
transform: translate3d(0, 0, -1em); 
}

.card-body{
  background-color: #eeeeee;
}

  
/*Стилизация формы*/
.addCar {
     
  background-color: #ededed;;
  padding: 40px;  
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2);
  border-radius: 30px;
  max-width: 350px;
  margin-bottom: 50px;
  margin-left: 15px;
  float: left;  
  position: sticky;
  top: 5px;
}

.addCar-label {  
  color: #868b98;
  display: block;
  text-align: start;
  margin: 25px 10px 5px;
  
}

.addCar-input {
  border-radius: 10px;
  border: 3px solid #f3f4f7;
  box-shadow: 2px 2px 3px rgba(55, 84, 170, .15),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(55, 84, 170, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2);
  padding: 5px 15px;
  outline: none;
  color: #535D74;
}

.addBtn {
  margin-top: 20px;
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  color: #6D7587;
  background-color: #EBECF0;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) ;
  transition: box-shadow .25s ease;
}


.addBtn:hover {
  transform: translate(0, 0.375em);
  transform: scale(1.05);
  
}

.addBtn:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.addBtn:active {
  transform: translate(0em, 0.75em);
}

.addBtn:active::before {
  transform: translate3d(0, 0, -1em); 
}

/* .btn-primary{  // Если нужна будет вторая синяя кнопка
  width: 45%;
  font-size: 11px;
  margin-right: 10px;
} */


.wrap{
  position: relative;
}

.basket{
  float: right;
  margin-right:15px;
  margin-left: 0px;
  max-width: none;
  width: 423px;
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 5px;

  
}

.basket span{
  color: #868b98;
  text-align: center;
  font-size: 18px;
}

.basket img{
  width: 40px;
}

.basket div {
  text-align: left;
}

.basket .allPrice {
  color: #868b98;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  
}

.title{
  font-size: 17px;
  font-weight: 500;
}

/* .choice{
  max-height: 150px;
  overflow: auto;
} */

.btnDelete{
  margin-right: 0px;
  width: 28px;
  
}
.btnMinus{
  margin-right: 0px;
  width: 28px;
}

.btnDelete img{
  width: 20px;
  vertical-align: baseline;
}

.btnMinus img{
  width: 20px;
  vertical-align: baseline;
}









  
