@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
//Медиазапросы
@media (max-width:962px) {
  .content {

    .categories{
      ul{
        flex-wrap: wrap;
        li{
          margin-bottom: 7px;
        }
      }
    } 
  }
};

@media (max-width:708px) {
  .content {

    .categories{
      ul{
        justify-content: center;
      }
    } 
  }
};

@media (max-width:580px) {
  .content {

    .categories{
      ul{
        justify-content: center;
        li{
          padding: 9px 15px;
          margin-right: 8px;
        }
      }
    } 
  }
};
