*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,.footer{
    background-color: #add8e6;
    color: #0000ff;
    text-align: center;
    padding: 13px;
}
.menu{
    background-color: #f0e68c;
    width: 167px;
    float: left;
    font-size: 17px;
    padding-right: 18px;
    padding-bottom: 25px;
}
.menu p{
    font-weight: bolder;
    padding-top: 27px ;
    padding-left: 10px;
    padding-bottom: 27px;
}
.menu ul{
    list-style-type: disc;
    margin-left: 30px;
}
.content{
    margin-left: 190px;
}
.content h3 {
    text-align: center;
    padding: 15px;    
}
.content img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content p{
    padding: 10px;
    font-size: 18px;
}
.clear{
    clear: both;
}
.content-ball{
    background-image: url(../img/ball.png);
    background-repeat:repeat-y;
    background-position: right;
}

@media all and (max-width: 741px) {
    .menu{
        height: 450px;
        background-color: rgb(214, 146, 243);
    }
    .container{
        background-color: rgb(230, 241, 189);
    }
}
@media all and (max-width: 651px) {
    .menu{
        height: 550px;
        background-color: rgb(146, 243, 198);
    }
    .container{
        background-color: rgb(176, 148, 176);
    }
}
@media all and (max-width: 582px) {
    .menu{
        height: 650px;
        background-color: rgb(255, 183, 183);
    }
    .container{
        background-color: rgb(216, 220, 163);
    }
}
@media all and (max-width: 536px) {
    .menu{
        height: 750px;
        background-color: rgb(183, 255, 188);
    }
    .container{
        background-color: rgb(235, 146, 220);
    }
}
@media all and (max-width: 473px) {
    .menu{
        height: 850px;
        background-color: rgb(176, 175, 179);
    }
    .container{
        background-color: rgb(193, 253, 176);
    }
    img{
        width: 150px;
    }
}
@media all and (max-width: 437px) {
    .menu{
        height: 950px;
        background-color: rgb(239, 227, 184);
    }
    .container{
        background-color: rgb(255, 214, 214);
    }
    img{
        width: 150px;
    }
}
@media all and (max-width: 406px) {
    .menu{
        float: none;
        width: auto;
        height: auto;
        background-color: rgb(178, 177, 247);
    }
    .container{
        background-color: rgb(248, 255, 214);
    }
    .content{
        margin-left: 0;
    }
    img{
        width: 150px;
    }
    .menu p{
        text-align: center;
        padding-left: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .content-ball{
        background-image: none;
    }
}
@media all and (max-width: 361px) {
    .menu{
        background-color: rgb(159, 243, 162);
    }
    img{
        width: 100px;
    }
}



   
