@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Lato:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Open+Sans&family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.container {
  width: 1248px;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style-type: none; }

.main-page {
  background: url("../img/darkcloud-mainpage.png") no-repeat top left, url("../img/cloud-mainpage.png") no-repeat top left, url("../img/main-background.jpg") no-repeat top left;
  background-size: 100%;
  position: relative; }
  .main-page .container {
    height: 788px;
    padding-top: 36px; }
    .main-page .container .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main-page .container .header .logo img:first-child {
        margin-right: 16px; }
      .main-page .container .header ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .main-page .container .header ul li {
          line-height: 19px;
          color: #275553;
          margin-right: 56px; }
          .main-page .container .header ul li:last-child {
            margin-right: 0; }
          .main-page .container .header ul li:hover {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
            color: #1a4240; }
    .main-page .container .dream h1 {
      padding-top: 90px;
      padding-bottom: 22px;
      font-family: "Inter", sans-serif;
      font-weight: 900;
      font-size: 64px;
      line-height: 64px;
      color: #FFFFFF; }
    .main-page .container .dream button {
      width: 481px;
      height: 61px;
      background: linear-gradient(91.82deg, #FB8B62 5.83%, #F47648 89.73%), #F47648;
      border-radius: 16px;
      border: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 56px;
      color: #FFFFFF; }
      .main-page .container .dream button:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .main-page .container .main-information {
      margin-top: 43px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .main-page .container .main-information .text p:first-child {
        padding-bottom: 38px;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF; }
      .main-page .container .main-information .text p:nth-child(2) {
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        display: inline-block;
        margin-right: 18px; }
      .main-page .container .main-information .text button.heartbeat {
        display: inline-block;
        width: 64px;
        height: 64px;
        border: 1px solid #FFFFFF;
        border-radius: 43.5px;
        background-color: rgba(28, 28, 28, 0);
        -webkit-animation: heartbeat 2s ease-in-out infinite both;
                animation: heartbeat 2s ease-in-out infinite both; }
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
      .main-page .container .main-information .text .subscr {
        margin-top: 127px; }
        .main-page .container .main-information .text .subscr ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .main-page .container .main-information .text .subscr ul li a img:first-child {
            margin-right: 28px; }
  .main-page .slider {
    min-width: 0;
    position: absolute;
    bottom: 10%;
    right: 0; }
    .main-page .slider .slick-list {
      overflow: hidden;
      width: 704px; }
    .main-page .slider .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
    .main-page .slider .slick-arrow {
      position: absolute;
      top: 104%;
      z-index: 10;
      width: 38px;
      height: 38px;
      border: 1px solid #FFFFFF;
      border-radius: 43.5px;
      font-size: 0;
      background-color: rgba(28, 28, 28, 0); }
    .main-page .slider .slick-arrow.slick-next {
      background: url("../img/main-slider-arrow-left.svg") no-repeat center; }
    .main-page .slider .slick-arrow.slick-prev {
      background: url("../img/main-slider-arrow-right.svg") no-repeat center;
      right: 594px; }
    .main-page .slider .main-slider-item {
      width: 211px;
      height: 201px;
      overflow: hidden;
      position: relative; }
      .main-page .slider .main-slider-item img {
        width: 100%; }
      .main-page .slider .main-slider-item p {
        position: absolute;
        bottom: 0%;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        left: 8%; }

.travel {
  padding-top: 120px;
  padding-bottom: 147px;
  background: url("../img/travel-back-nature1.jpg") no-repeat bottom;
  background-size: 100%; }
  .travel .airplane {
    background: url("../img/airplane.png") no-repeat bottom 20% right; }
    .travel .airplane .container .text-up h2 {
      font-family: "Inter", sans-serif;
      font-weight: .travel .airplane .container .text-up h2 bold;
      font-size: 48px;
      line-height: 56px;
      color: #212121;
      padding-bottom: 27px; }
      .travel .airplane .container .text-up h2 + p {
        font-size: 24px;
        line-height: 32px;
        color: #313131;
        opacity: 0.8;
        margin-bottom: 35px; }
    .travel .airplane .container .text-up p {
      line-height: 24px;
      color: #313131;
      opacity: 0.8;
      margin-bottom: 64px; }
    .travel .airplane .container .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .travel .airplane .container .icons div {
        margin-right: 64px; }
        .travel .airplane .container .icons div:last-child {
          margin-right: 0; }
        .travel .airplane .container .icons div img {
          margin-bottom: 8px; }
          .travel .airplane .container .icons div img + p {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            line-height: 24px;
            color: #212121; }
        .travel .airplane .container .icons div p:last-child {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #212121; }
    .travel .airplane .container .text-down {
      padding-top: 381px; }
      .travel .airplane .container .text-down p:first-child {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 32px; }
      .travel .airplane .container .text-down p:nth-child(2) {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #DEDEDE;
        margin-bottom: 13px; }
      .travel .airplane .container .text-down p:last-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF; }

.days .day-one {
  padding-top: 80px;
  padding-bottom: 280px;
  background: url("../img/day1-cloud.png") no-repeat bottom, url("../img/black-day1.png") no-repeat top, url("../img/day1-back.jpg") no-repeat;
  background-size: 100%;
  position: relative; }
  .days .day-one .container .wrap {
    width: 36%; }
    .days .day-one .container .wrap h2 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 39px;
      line-height: 50px;
      color: #FFFFFF;
      margin-bottom: 48px; }
      .days .day-one .container .wrap h2 span {
        color: #F47648; }
    .days .day-one .container .wrap p {
      font-size: 16px;
      line-height: 24px;
      color: #ACACAC; }
      .days .day-one .container .wrap p span {
        color: #FFFFFF; }
  .days .day-one .day-one-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 25%; }
    .days .day-one .day-one-icons div {
      width: 230px;
      height: 230px;
      margin-right: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 10px; }
      .days .day-one .day-one-icons div:first-child {
        background: url("../img/day1-icon1.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-one .day-one-icons div:nth-child(2) {
        background: url("../img/day1-icon2.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-one .day-one-icons div:last-child {
        background: url("../img/day1-icon3.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-one .day-one-icons div:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .days .day-one .day-one-icons div p {
        font-size: 12px;
        line-height: 16px;
        color: #BDBDBD; }
        .days .day-one .day-one-icons div p span {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF; }
.days .day-two {
  padding-top: 9px;
  padding-bottom: 150px;
  background: url("../img/day2-mounteen.png") no-repeat top right;
  position: relative; }
  .days .day-two .container .wrap h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #212121;
    margin-bottom: 53px;
    width: 852px; }
    .days .day-two .container .wrap h2 span {
      color: #F47648; }
    .days .day-two .container .wrap h2 + p {
      width: 548px;
      padding-bottom: 140px; }
  .days .day-two .container .wrap p {
    line-height: 24px;
    color: #313131;
    width: 478px; }
  .days .day-two .container .wrap .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .days .day-two .day-two-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 56%; }
    .days .day-two .day-two-icons div {
      width: 230px;
      height: 230px;
      margin-left: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 10px; }
      .days .day-two .day-two-icons div:first-child {
        background: url("../img/day1-icon1.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-two .day-two-icons div:nth-child(2) {
        background: url("../img/day1-icon2.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-two .day-two-icons div:last-child {
        background: url("../img/day1-icon3.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-two .day-two-icons div:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .days .day-two .day-two-icons div p {
        font-size: 12px;
        line-height: 16px;
        color: #BDBDBD; }
        .days .day-two .day-two-icons div p span {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF; }
.days .program {
  background-color: #F1F1F1;
  padding-bottom: 80px; }
  .days .program .container h2 {
    padding-top: 80px;
    padding-bottom: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    color: #000000; }
  .days .program .container .program-variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .days .program .container .program-variants div {
      width: 288px;
      background-color: #FFFFFF;
      -webkit-box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
      .days .program .container .program-variants div p {
        padding: 32px 24px 32px 24px;
        font-size: 14px;
        line-height: 24px;
        color: #5A5A5A; }
        .days .program .container .program-variants div p span {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: #212121;
          margin-bottom: 8px; }
      .days .program .container .program-variants div:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
.days .day-three {
  padding-top: 80px;
  padding-bottom: 284px;
  background: url("../img/day-three-back.png") no-repeat bottom;
  background-size: 100%;
  position: relative; }
  .days .day-three .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .days .day-three .container .wrap h2 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: #212121;
      margin-bottom: 48px;
      width: 505px; }
      .days .day-three .container .wrap h2 span {
        color: #F47648; }
    .days .day-three .container .wrap p {
      color: #212121;
      width: 501px; }
  .days .day-three .day-three-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 15%; }
    .days .day-three .day-three-icons div {
      width: 230px;
      height: 230px;
      margin-left: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 10px; }
      .days .day-three .day-three-icons div:first-child {
        background: url("../img/day1-icon1.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-three .day-three-icons div:nth-child(2) {
        background: url("../img/day1-icon2.jpg") no-repeat top;
        background-size: 100%; }
      .days .day-three .day-three-icons div:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .days .day-three .day-three-icons div p {
        font-size: 12px;
        line-height: 16px;
        color: #BDBDBD; }
        .days .day-three .day-three-icons div p span {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF; }
.days .day-four-and-five {
  padding-top: 100px;
  background: url("../img/cloud-final.png") no-repeat bottom, url("../img/day-5-6-back.jpg") no-repeat top;
  background-size: 100%; }
  .days .day-four-and-five .day-four {
    padding-bottom: 191px;
    position: relative; }
    .days .day-four-and-five .day-four .container h2 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      width: 533px;
      padding-bottom: 30px;
      color: #FFFFFF; }
      .days .day-four-and-five .day-four .container h2 span {
        color: #F47648; }
    .days .day-four-and-five .day-four .container p {
      line-height: 24px;
      color: #ACACAC;
      width: 461px; }
    .days .day-four-and-five .day-four .day-four-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 0;
      top: 15%; }
      .days .day-four-and-five .day-four .day-four-icons div {
        width: 230px;
        height: 230px;
        margin-right: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 10px; }
        .days .day-four-and-five .day-four .day-four-icons div:first-child {
          background: url("../img/day1-icon1.jpg") no-repeat top;
          background-size: 100%; }
        .days .day-four-and-five .day-four .day-four-icons div:nth-child(2) {
          background: url("../img/day1-icon2.jpg") no-repeat top;
          background-size: 100%; }
        .days .day-four-and-five .day-four .day-four-icons div:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .days .day-four-and-five .day-four .day-four-icons div p {
          font-size: 12px;
          line-height: 16px;
          color: #BDBDBD; }
          .days .day-four-and-five .day-four .day-four-icons div p span {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF; }
  .days .day-four-and-five .day-five {
    padding-bottom: 217px;
    position: relative; }
    .days .day-four-and-five .day-five .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .days .day-four-and-five .day-five .container h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        margin-bottom: 48px;
        width: 505px; }
        .days .day-four-and-five .day-five .container h2 span {
          color: #F47648; }
        .days .day-four-and-five .day-five .container h2 + p {
          line-height: 24px;
          color: #FFFFFF;
          margin-bottom: 35px;
          width: 501px; }
      .days .day-four-and-five .day-five .container .add-service {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 39px; }
      .days .day-four-and-five .day-five .container .add {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 481px;
        border-bottom: 1px solid #BABABA;
        padding-bottom: 16px;
        padding-top: 16px; }
        .days .day-four-and-five .day-five .container .add p:first-child {
          font-weight: 700;
          line-height: 24px;
          color: #FFFFFF;
          margin-top: 8px; }
        .days .day-four-and-five .day-five .container .add p:last-child {
          font-size: 14px;
          line-height: 24px;
          color: #BABABA;
          opacity: 0.7;
          width: 226px; }
    .days .day-four-and-five .day-five .day-five-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 0;
      top: 12%; }
      .days .day-four-and-five .day-five .day-five-icons div {
        width: 230px;
        height: 230px;
        margin-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 10px; }
        .days .day-four-and-five .day-five .day-five-icons div:first-child {
          background: url("../img/day1-icon1.jpg") no-repeat top;
          background-size: 100%; }
        .days .day-four-and-five .day-five .day-five-icons div:nth-child(2) {
          background: url("../img/day1-icon2.jpg") no-repeat top;
          background-size: 100%; }
        .days .day-four-and-five .day-five .day-five-icons div:last-child {
          background: url("../img/day1-icon3.jpg") no-repeat top;
          background-size: 100%; }
        .days .day-four-and-five .day-five .day-five-icons div:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .days .day-four-and-five .day-five .day-five-icons div p {
          font-size: 12px;
          line-height: 16px;
          color: #BDBDBD; }
          .days .day-four-and-five .day-five .day-five-icons div p span {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF; }
.days .day-six {
  padding-bottom: 161px;
  padding-top: 303px;
  background: url("../img/day6.jpg") no-repeat top;
  background-size: cover; }
  .days .day-six .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .days .day-six .container .wrap h2 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: #FFFFFF;
      width: 431px;
      margin-bottom: 48px; }
      .days .day-six .container .wrap h2 span {
        color: #F47648; }
    .days .day-six .container .wrap p {
      line-height: 24px;
      color: #FFFFFF;
      width: 501px; }

.order-price {
  background: url("../img/order-back.jpg") no-repeat bottom;
  background-size: contain;
  padding-bottom: 72px; }
  .order-price .order {
    padding-top: 96px;
    padding-bottom: 270px; }
    .order-price .order .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .order-price .order .container .online-order h3 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #212121;
        margin-bottom: 33px; }
      .order-price .order .container .online-order ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .order-price .order .container .online-order ul li {
          margin-right: 30px; }
          .order-price .order .container .online-order ul li:last-child {
            margin-right: 0; }
      .order-price .order .container .order-forms form .input-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .order-price .order .container .order-forms form .input-text div {
          margin-right: 44px;
          margin-bottom: 48px; }
          .order-price .order .container .order-forms form .input-text div p {
            font-size: 14px;
            line-height: 24px;
            color: #212121;
            margin-bottom: 16px; }
          .order-price .order .container .order-forms form .input-text div input {
            width: 260px;
            border: none;
            border-bottom: 1px solid #212121;
            padding-bottom: 13px;
            padding-top: 13px;
            font-size: 20px;
            color: #999999;
            background-color: #21212100; }
          .order-price .order .container .order-forms form .input-text div:last-child {
            margin-right: 0; }
      .order-price .order .container .order-forms form .input-radio p {
        font-size: 14px;
        line-height: 24px;
        color: #212121;
        margin-bottom: 23px; }
      .order-price .order .container .order-forms form .input-radio .price .price-base {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .order-price .order .container .order-forms form .input-radio .price .price-base label input {
          width: 16px;
          height: 16px;
          background-color: #21212100; }
        .order-price .order .container .order-forms form .input-radio .price .price-base label input[type='radio']:after {
          width: 16px;
          height: 16px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #FFFFFF;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 1px solid #275553; }
        .order-price .order .container .order-forms form .input-radio .price .price-base label input[type='radio']:checked:after {
          width: 16px;
          height: 16px;
          border-radius: 15px;
          top: -2px;
          left: -1px;
          position: relative;
          background-color: #275553;
          content: '';
          display: inline-block;
          visibility: visible;
          border: 1px solid #275553; }
        .order-price .order .container .order-forms form .input-radio .price .price-base label input[type='radio']:checked {
          -webkit-transform: scale(0.7);
                  transform: scale(0.7);
          border: 1px solid #275553; }
        .order-price .order .container .order-forms form .input-radio .price .price-base label span {
          font-size: 18px;
          line-height: 24px;
          color: #000000;
          margin-left: 10px; }
        .order-price .order .container .order-forms form .input-radio .price .price-base p {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #000000; }
      .order-price .order .container .order-forms form .input-date {
        margin-bottom: 37px; }
        .order-price .order .container .order-forms form .input-date p {
          font-size: 14px;
          line-height: 24px;
          color: #212121;
          margin-bottom: 16px; }
        .order-price .order .container .order-forms form .input-date input {
          width: 260px;
          border: none;
          border-bottom: 1px solid #212121;
          padding-bottom: 10px;
          background-color: #21212100; }
      .order-price .order .container .order-forms form .input-text-comment p {
        font-size: 14px;
        line-height: 24px;
        color: #212121;
        margin-bottom: 16px; }
      .order-price .order .container .order-forms form .input-text-comment input {
        width: 564px;
        border: none;
        border-bottom: 1px solid #212121;
        padding-bottom: 13px;
        padding-top: 13px;
        font-size: 20px;
        color: #999999;
        margin-bottom: 57px;
        background-color: #21212100; }
      .order-price .order .container .order-forms form .submit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .order-price .order .container .order-forms form .submit input {
          width: 179px;
          height: 40px;
          background: #F47648;
          border-radius: 5px;
          border: none;
          font-size: 14px;
          color: #FFFFFF; }
  .order-price .book .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-price .book .container .text {
      margin-left: 95px;
      margin-top: 140px; }
      .order-price .book .container .text h4 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 8px; }
      .order-price .book .container .text p {
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 20px; }
      .order-price .book .container .text form input[type='email'] {
        width: 563px;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        font-size: 20px;
        color: #999999;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-right: 24px;
        background-color: #21212100; }
      .order-price .book .container .text form input[type='submit'] {
        width: 134px;
        height: 40px;
        background: #F47648;
        border-radius: 5px;
        font-size: 14px;
        color: #FFFFFF;
        border: none; }

.team {
  padding-top: 120px;
  padding-bottom: 200px; }
  .team .container h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #121212;
    width: 960px;
    margin-bottom: 59px; }
  .team .container > p {
    color: #313131;
    opacity: 0.8;
    width: 511px;
    margin-bottom: 79px; }
  .team .container .photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .team .container .photo .photo-items {
      width: 352px; }
      .team .container .photo .photo-items p {
        margin-top: 24px;
        color: #F47648;
        font-size: 18px;
        line-height: 24px; }
        .team .container .photo .photo-items p span {
          color: #000000; }
      .team .container .photo .photo-items:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }

.contacts {
  background-color: #212121;
  padding-top: 63px;
  padding-bottom: 48px; }
  .contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .contacts .container > div {
      padding-right: 40px; }
    .contacts .container .one {
      width: 29%; }
      .contacts .container .one img:first-child {
        margin-right: 16px; }
      .contacts .container .one ul {
        margin-top: 39px; }
        .contacts .container .one ul li {
          margin-bottom: 16px;
          color: #BABABA; }
          .contacts .container .one ul li:last-child {
            margin-bottom: 0; }
    .contacts .container .two a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      color: #BABABA; }
    .contacts .container .two button {
      width: 157.5px;
      height: 42.57px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      background-color: #21212100;
      font-size: 14px;
      color: #FFFFFF;
      margin-left: 25px; }
    .contacts .container .two .insta-photo {
      margin-top: 16px; }
      .contacts .container .two .insta-photo img {
        margin-right: 8px;
        margin-bottom: 8px; }
    .contacts .container .three .video {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .contacts .container .three .video p {
        margin-left: 18px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF; }
        .contacts .container .three .video p span {
          color: #BABABA;
          font-weight: 400; }
    .contacts .container .three .social p {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      margin-top: 46px;
      margin-bottom: 13px; }
    .contacts .container .three .social ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .contacts .container .three .social ul li {
        margin-right: 20px; }
        .contacts .container .three .social ul li:last-child {
          margin-right: 0; }
    .contacts .container .four {
      padding-right: 0;
      padding-left: 40px;
      width: 26%; }
      .contacts .container .four p:first-child {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF; }
      .contacts .container .four p:nth-child(2) {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        line-height: 32px;
        color: #BABABA;
        margin-bottom: 34px; }
      .contacts .container .four p:nth-child(3) {
        color: #FFFFFF;
        margin-bottom: 12px; }
        .contacts .container .four p:nth-child(3)::before {
          content: url("../img/contacts-email.svg"); }
      .contacts .container .four p:last-child {
        color: #FFFFFF; }
        .contacts .container .four p:last-child::before {
          content: url("../img/contacts-map.svg"); }

.footer {
  background-color: #212121;
  padding-bottom: 22px; }
  .footer .container {
    border-top: 2px solid #BABABA;
    padding-top: 22px; }
    .footer .container p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF; }

@media all and (max-width: 1380px) {
  .container {
    width: 1000px; }

  .days .day-one {
    padding-bottom: 135px;
    background-size: 110%; }
  .days .day-two {
    padding-bottom: 100px; }
    .days .day-two .container .wrap p {
      width: 360px; }
    .days .day-two .day-two-icons {
      top: 52%; }
  .days .program .container .program-variants div {
    width: 239px; }
    .days .program .container .program-variants div img {
      width: 239px; }
    .days .program .container .program-variants div p span {
      font-size: 17px; }
  .days .day-three {
    padding-bottom: 250px; }
  .days .day-four-and-five {
    background-size: 115%; }
    .days .day-four-and-five .day-five .day-five-icons div:last-child {
      display: none; }
  .days .day-six {
    padding-bottom: 193px;
    padding-top: 275px; }

  .order-price .order {
    padding-bottom: 136px; }

  .team {
    padding-top: 83px;
    padding-bottom: 135px; }
    .team .container .photo .photo-items {
      width: 305px; }
      .team .container .photo .photo-items img {
        width: 305px; }

  .contacts .container > div {
    padding-right: 37px; }
  .contacts .container .one img:first-child {
    margin-bottom: 7px; }
  .contacts .container .three .video img {
    width: 72px; }
  .contacts .container .four {
    padding-left: 16px;
    width: 37%; } }
@media all and (max-width: 1032px) {
  .container {
    width: 768px; }

  .main-page {
    padding-bottom: 104px;
    background-size: cover; }
    .main-page .container .header ul li {
      margin-right: 40px; }
    .main-page .container .dream h1 {
      padding-top: 63px;
      padding-bottom: 44px; }
    .main-page .container .main-information {
      margin-top: 23px; }
      .main-page .container .main-information .text p:first-child {
        padding-top: 11px; }
      .main-page .container .main-information .text .subscr {
        margin-top: 12px; }
    .main-page .slider {
      bottom: 8%;
      right: 0%; }
      .main-page .slider .slick-arrow {
        top: 106%; }

  .travel {
    padding-top: 80px;
    padding-bottom: 110px;
    background-size: 115%; }
    .travel .airplane {
      background: url(../img/airplane.png) no-repeat bottom 19% right;
      background-size: 44%; }

  .days .day-one {
    padding-top: 0px;
    padding-bottom: 443px;
    background-size: 141%; }
    .days .day-one .container .wrap {
      width: 100%; }
    .days .day-one .day-one-icons {
      right: 0;
      top: 55%;
      left: 13%; }
  .days .day-two {
    background-size: 90%;
    padding-bottom: 306px; }
    .days .day-two .container .wrap h2 {
      font-size: 38px;
      width: 100%; }
      .days .day-two .container .wrap h2 + p {
        width: 433px;
        padding-bottom: 12px; }
    .days .day-two .container .wrap .text {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .days .day-two .container .wrap p {
      width: 100%;
      margin-top: 26px; }
    .days .day-two .day-two-icons {
      top: 69%;
      left: 13%; }
      .days .day-two .day-two-icons div {
        margin-right: 30px;
        margin-left: 0; }
  .days .program .container .program-variants {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .days .program .container .program-variants div {
      margin-bottom: 20px;
      width: 315px;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      .days .program .container .program-variants div img {
        width: 315px; }
      .days .program .container .program-variants div p span {
        font-size: 20px; }
  .days .day-three {
    padding-bottom: 316px; }
    .days .day-three .container .wrap h2 {
      width: 100%;
      margin-bottom: 13px; }
    .days .day-three .container .wrap p {
      width: 100%; }
    .days .day-three .day-three-icons {
      left: 13%;
      top: 63%; }
      .days .day-three .day-three-icons div {
        margin-left: 0;
        margin-right: 30px; }
  .days .day-four-and-five {
    background-size: 139%; }
    .days .day-four-and-five .day-four {
      padding-bottom: 278px; }
      .days .day-four-and-five .day-four .container h2 {
        width: 100%; }
      .days .day-four-and-five .day-four .container p {
        width: 100%; }
      .days .day-four-and-five .day-four .day-four-icons {
        top: 62%;
        left: 13%; }
    .days .day-four-and-five .day-five .container {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .days .day-four-and-five .day-five .container h2 {
        width: 100%;
        font-size: 38px; }
        .days .day-four-and-five .day-five .container h2 + p {
          width: 100%; }
      .days .day-four-and-five .day-five .container .add {
        width: 100%; }
    .days .day-four-and-five .day-five .day-five-icons {
      display: none; }
  .days .day-six {
    padding-bottom: 90px;
    padding-top: 166px;
    background-size: 133%; }

  .order-price {
    background-size: 128%; }
    .order-price .order .container {
      display: block; }
      .order-price .order .container .online-order {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .order-price .book .container img {
      height: 214px;
      width: 191px;
      margin-top: 13px; }
    .order-price .book .container .text {
      margin-left: 8px;
      margin-top: 16px; }
      .order-price .book .container .text h4 {
        font-size: 31px; }
      .order-price .book .container .text p {
        font-size: 18px; }
      .order-price .book .container .text form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .order-price .book .container .text form input[type='email'] {
          width: 100%;
          margin-right: 0; }
        .order-price .book .container .text form input[type='submit'] {
          margin-top: 10px;
          margin-left: 25px; }

  .team .container h2 {
    font-size: 45px;
    margin-bottom: 16px;
    width: 100%; }
  .team .container p {
    width: 100%;
    margin-bottom: 46px; }
  .team .container .photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .team .container .photo .photo-items {
      width: 450px; }
      .team .container .photo .photo-items img {
        width: 450px; }
      .team .container .photo .photo-items p {
        margin-top: 20px;
        margin-bottom: 20px; }

  .contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contacts .container .two {
      width: 52%;
      margin-bottom: 35px; }
    .contacts .container .three {
      width: 35%; }
    .contacts .container .four {
      width: 52%;
      padding-left: 0; } }

/*# sourceMappingURL=style.css.map */