//colors
$green: #275553;
$orange: #F47648;
$white: #FFFFFF;
$black: #212121;
$darkgray: #5A5A5A;
$gray: #BABABA;
$fontblack: #313131;
$blue: #D3E7E3;


//fonts
$Lato: 'Lato', sans-serif;
$Inter: 'Inter', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;
$OpenSans: 'Open Sans', sans-serif;


$light:300;
$regular:400;
$semibold:600;
$bold:700;
$extrabold:900;


$fz14:14px;
$fz16:16px;
$fz18:18px;
$fz20:20px;
$fz24:24px;
$fz30:30px;
$fz36:36px;
$fz40:40px;
$fz48:48px;
$fz64:64px;

//containers
$xl:1440px;